body,
ul,
li,
p,
h2
{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:underline; 
}
li{
    list-style: none;
}
.wrapper{
    margin: 0 auto;
    width: 80%;
}
.header{
    height: 100px;
    width: 100%;
    background: #bebebe;
    position: relative;
}
.nav{
    overflow: hidden;
    margin: 10px 0 ;
}
.nav li {
    width: 157px;
    height: 48px;
    font-size: 26px;
    float: left;
}
.nav li a{
    display: block;
    width: 157px;
    text-align: center;
    color: #a3a3a3;
}
.coures .active{
    color: #f33;
}
.coures li a{
    font-size: 14px;
    padding: 5px 0 5px 15px;
    color: #000;
}
.coures h2{
    font-weight: normal;
    padding: 10px 0 10px 15px;
    margin: 10px 0;
    font-size: 18px;
    width: 220px;
    background: #e8e7e3;
}